<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RESULT</title>
	<link rel="stylesheet"  href="style.css">
	<link rel="website icon" href="pis.png">
</head>
<body>
	<h1>RESULTS:</h1>
	<% session[:results].each_with_index do |round, index| %>
		<h2>Round <%= index + 1%></h2>
		<p>Player choice: <%= round[:player] %></p>
		<p>Computer's choice: <%= round[:computer] %></p>
		<h4>Result: <%= round[:result] %></h4>
	<% end %>
	</p>
	<center><a href="/" >Play again</a></center>
</body>
</html>
